.t{
    width: 50px;
    height: 25px;
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid grey;
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 999;
}
.t-icon{
    width: 15px;
    height: 15px;
}
.t-button{
    width: 25px;
    height: 25px;
    background-color: grey;
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
}